div.navbar {
  background-color: #f1e7d4;
  width: 100vw;
  height: 8.5vh;
  position: sticky;
  margin: auto;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.navbar li {
  float: right;
}
ul.navbar li a {
  display: block;
  text-align: center;
  font-size: 4vh;
  padding: 2vh 2vw;
  text-decoration: none;
  margin: 0;
}
ul.navbar li a:hover {
  background-color: #e0d6c3;
}
body {
  margin: 0;
  padding: 0;
  color: #334;
  font-variant: small-caps;
  font-family: Georgia;
}
div {
  box-shadow: 0px 0px 4px #6b624d;
}
