body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
div {
  box-shadow: 0px 0px 4px #bbb;
}
div.navbar {
  background-color: #eee;
  width: 100vw;
  height: calc(2.25vw + 4vh);
  border-bottom: 2px solid #ccc;
  position: sticky;
  margin: auto;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.navbar li {
  float: right;
  display: block;
  color: #555;
  text-align: center;
  font-size: 2vw;
  text-decoration: none;
  margin: 0;
}
ul.navbar li a {
  padding: 2vh 2vw;
  color: #555;
  text-decoration: none;
}
ul.navbar li:hover {
  background-color: #ccc;
}
.dropdown {
  padding: 2vh 2vw;
  display: block;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #eee;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}
.dropdown-content a {
  display: block;
  padding: 2vh 2vw;
}
.dropdown-content a:hover {background-color: #ddd}
.dropdown:hover .dropdown-content {
  display: block;
}
