div.navbar {
  background-color: #dddddd;
  width: 100vw;
  height: 10vh;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.navbar {
  float: right;
}
li.navbar a {
  display: block;
  color: white;
  text-align: center;
  font-size: 4vh;
  padding: 3vh;
  text-decoration: none;
}
li.navbar a:hover {
  background-color: #111;
}
