div.navbar {
  background-color: #dddddd;
  width: 100vw;
  height: 8.5vh;
  border-bottom: 2px solid #bbb;
  margin: 0;
  padding: 0;
  position: fixed;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.navbar {
  float: right;
}
li.navbar a {
  display: block;
  color: white;
  text-align: center;
  font-size: 4vh;
  padding: 2vh 2vw;
  text-decoration: none;
  margin: 0;
}
li.navbar a:hover {
  background-color: #bbb;
}
