body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #4C4;
}
#navbar {
  background-image: linear-gradient(rgba(34,34,34,1),rgba(34,34,34,1),rgba(34,34,34,1),rgba(34,34,34,0));
  height: 50px;
  width: 100%;
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 2;
}
#navbar a {
  display: inline-block;
  border-right: 2px solid #666;
  color: #FFF;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 20px;
  margin: 5px;
}
.content {
  background-color: rgba(50,50,50,0.5);
  border: 1px solid rgba(50,50,50,0.25);
  padding: 10px;
  border-radius: 10px;
  width: 66%;
  margin-left: 17%;
  text-align: center;
  color: #FFF;
}
