body {
  margin: 0;
  padding: 0;
  border: 0;
}
#navbar {
  background-color: #222;
  height: 50px;
  width: 100%;
  padding: 5px 0;
  overflow: auto;
}
#navbar a {
  display: inline-block;
  border-right: 2px solid #666;
  color: #FFF;
  text-align: center;
  padding: 15px 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 20px;
}
