body {
  margin: 0;
  padding: 0;
  border: 0;
}
#navbar {
  background-image: linear-gradient(rgba(34,34,34,1),rgba(34,34,34,1),rgba(34,34,34,1),rgba(34,34,34,0));
  height: 50px;
  width: 100%;
  padding: 5px 0;
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 2;
}
#navbar a {
  display: inline-block;
  border-right: 2px solid #666;
  color: #FFF;
  text-align: center;
  padding: 15px 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 20px;
}
