body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
#navbar {
  background-color: #222;
  height: 50px;
  width: 100%;
  padding: 5px;
}
#navbar a {
  display: block;
  width: 100px;
  height: 40px;
  border: 0px;
  border-right: 2px solid #666;
  margin-right: 5px;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  text-decoration: none;
}
