div.navbar {
  background-color: #ddd;
  width: 100vw;
  height: 8vh;
  border-bottom: 2px solid #bbb;
  border-top: 2px solid #fff;
  border-right: 2px solid #bbb;
  border-left: 2px solid #fff;
  position: sticky;
  margin: auto;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.navbar li {
  float: right;
}
ul.navbar li a {
  display: block;
  text-align: center;
  font-size: 4vh;
  padding: 2vh 2vw;
  text-decoration: none;
  margin: 0;
  border-right: 2px solid #bbb;
  border-left: 2px solid #fff;
}
ul.navbar li a:hover {
  background-color: #bbb;
}
body {
  margin: 0;
  padding: 0;
  font-family: Lucida Console;
}
div {
  box-shadow: 0px 0px 4px #aaa;
}
