div.navbar {
  background-color: #ddd;
  width: 99.8vw;
  height: calc(2vw + 4vh);
  border-bottom: 2px solid #bbb;
  border-top: 2px solid #fff;
  border-right: 2px solid #bbb;
  border-left: 2px solid #fff;
}
ul.navbar li a {
  color: #000;
  border-right: 2px solid #bbb;
  border-left: 2px solid #fff;
}
ul.navbar li a:hover {
  background-color: #bbb;
}
body {
  font-family: Lucida Console;
}
div {
  box-shadow: 0px 0px 4px #aaa;
}
